odoo_test_helper
odoo-addon-attribute_set_completeness @ git+https://github.com/OCA/odoo-pim.git@refs/pull/189/head#subdirectory=setup/attribute_set_completeness
odoo-addon-attribute_set @ git+https://github.com/OCA/odoo-pim.git@refs/pull/207/head#subdirectory=setup/attribute_set
